<section class="my-lg-14 my-8" *ngIf="categoryDetails$ | async as category">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3 col-md-4 mb-4 mb-md-0">
                <div class="col-12">
                    <div class="mb-4">
                        <h5>Categories</h5>
                    </div>
                </div>
                <ul class="nav nav-category">
                    <li *ngFor="let item of categoryList$ | async" class="nav-item border-bottom w-100"><a class="nav-link"
                            [routerLink]="'/categories/'+item.id" role="button">{{item.name}}<i
                                class="feather-icon icon-chevron-right"></i></a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-9 col-md-8">
                <ng-container>
                    <!-- card -->
                    <div class="card mb-4 bg-light border-0">
                        <!-- card body -->
                        <div class="card-body p-9">
                            <h2 class="mb-0 fs-4">{{category.name}}</h2>
                        </div>
                    </div>
                </ng-container>
                <section class="my-lg-2 my-1">
                    <div class="container" *ngIf="productInCategoryList$ | async as products">
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-4">
                                    <h6>{{products.length}} <small class="text-muted"> products found</small></h6>
                                </div>
                            </div>
                            <div class='row g-4 row-cols-1 mt2'>
                                <div *ngFor="let product of products" class="col-12">
                                    <div class="card card-product">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class='col-12 col-md-4'>

                                                    <div class="text-center position-relative">
                                                        <!-- img -->
                                                        <a><img [src]="product.imageUrl" [alt]="product.name" class="mb-3 img-fluid">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class='col-12 col-md-8 flex-grow-1'>
                                                    <!--category-->
                                                    <h3 class='fs-6 text-muted'>{{category.name}}</h3>
                                                    <!-- title -->
                                                    <h2 class="fs-6">{{product.name}}</h2>
                                                    <!--rating -->
                                                    <small class="text-warning">
                                                        <i *ngFor="let val of product.ratingStars" class="bi"
                                                            [ngClass]="{'bi-star-fill': val === 1, 'bi-star': val === 0, 'bi-star-half': val === 0.5}">
                                                        </i>
                                                        {{product.ratingValue}}
                                                    </small>
                                                    <span class='text-muted small'>
                                                        ({{product.ratingCount}})
                                                    </span>
                                                    <!-- price -->
                                                    <div class="d-flex justify-content-between align-items-center mt-3">
                                                        <div>
                                                            <span class="text-dark">{{product.price|currency}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>